.chart-content {
	-fx-font-size: 28;
}

.axis {
	-fx-tick-label-fill: #F9F9F9;	
}

.axis-label {
	-fx-text-fill: #F9F9F9;
}

.chart-legend {
	-fx-translate-y: -15;
	-fx-translate-x: 40;
   	-fx-background-color:  transparent;
   	-fx-padding: 20px;
	-fx-font-size: 28;
}
 
.chart-legend-item-symbol{
   -fx-background-radius: 0;
}
 
.chart-legend-item{
    -fx-text-fill: rgb(255, 255, 255);
}