.chart-plot-background {
-fx-background-color: transparent;
}
.default-color0.chart-series-line {
-fx-stroke: blue;
} 
.default-color0.chart-line-symbol { 
    -fx-background-color: blue, white;
}
.chart-content {
	-fx-font-size: 28;
}

.axis {
	-fx-tick-label-fill: #F9F9F9;	
}

.axis-label {
	-fx-text-fill: #F9F9F9;
}

.chart-legend {
	-fx-translate-y: 20;
	-fx-translate-x: 40;
   	-fx-background-color:  transparent;
   	-fx-padding: 20px;
	-fx-font-size: 28;
}
 
.chart-legend-item{
    -fx-text-fill: rgb(255, 255, 255);
}

.default-color0.chart-series-line { -fx-stroke: #118ABB, #118ABB; }
.default-color0.chart-line-symbol { -fx-background-color: #118ABB, #118ABB; }