.radio-button .radio {
    -fx-border-width: 0;
    -fx-background-color: white;
    -fx-background-image: null;
    -fx-border-radius: 0;
    -fx-padding: 5;
    -fx-background-radius: 0px;
}
.radio-button .dot {
    -fx-background-radius: 0px;
    -fx-padding: 10px;
}
.radio-button:selected .radio .dot {
    -fx-background-color: #118ABB;
    -fx-background-insets: 0;
}
